/* -----------------------------------------------------------------------------
sellervantage.com style sheet
sept 1, 2015
----------------------------------------------------------------------------- */




/*------------------ global styles -------------------------------------------*/

html {
    
    font-size: 100%;        
}

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	color: #808080;
	font-weight: normal;
	overflow-x: hidden !important;
	line-height: 25px;
	text-align: center;
}

/*------------------ ie 10 in win 8 and win phone 8 bug fix ------------------*/

@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* other fixes*/

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	        box-sizing: border-box;
}
i {
	vertical-align: middle;
}
ul, ol {
padding-left: 0 !important; 
}
li {
    list-style: none;
}
/* selection colours (easy to forget) */

::-moz-selection {
	background: #FC6D6D;
	color: #FFF;
}
::selection {
	background: #FC6D6D;
	color: #FFF;
}
::-moz-selection {
	background: #FC6D6D;
	color: #FFF;
}

a {
	color: #e96656;
	-webkit-transition: all 700ms;
	        transition: all 700ms;
}

a,a:hover {
	text-decoration: none;
}
a:hover {
	color: #cb4332;
}
p {
    margin: 0;
}
.full-width {
	width: 100%;
	margin: auto;
}

/*------------------ typography ----------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1,h2 {
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px !important;
	line-height: 55px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 16px;
}

/*------------------ buttons -------------------------------------------------*/

.buttons {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 45px;
}
.button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 35px 10px 35px;
	border-radius: 4px;
	margin: 10px;
}
.custom-button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 35px 13px 35px;
	border-radius: 4px;
	margin: 10px;
	border: none;
}

.green-btn {
	background: #20AA73;
}
.blue-btn {
	background: #3ab0e2;
}
.darkblue-btn {
	background: #004b91;
}
.yellow-btn {
	background: #E7AC44;
}
.orange-btn {
	background: #fc9a18;
}
.orange-btn,.green-btn,.blue-btn,.yellow-btn {
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
	color: #FFF;
	background: #1288b9;
}
.orange-btn:hover {
	color: #FFF;
	background: #cb4332;
}
.green-btn:hover {
	color: #FFF;
	background: #069059;
}
.yellow-btn:hover {
	color: #FFF;
	background: #d8951e;
}
.orange-btn:hover {
	color: #FFF;
	background: #d65500;
}

/*------------------ colors --------------------------------------------------*/

/** backgrounds **/
.orange-bg {
	background: #ff9933;
}
.green-bg {
	background: #34d293;
}
.blue-bg {
	background: #3ab0e2;
}
.yellow-bg {
	background: #E7AC44;
}
.dark-bg {
	background: #404040;
}
.white-bg {
	background:  #FFFFFF;
}

/** for text & icon fonts **/

.green-text {
	color: #32cd32;
}
.orange-text {
	color: #ff9933;
}
.blue-text {
	color: #3ab0e2;
}
.lightblue-text {
	color: #336699;
}
.yellow-text {
	color: #fc9a18;
}
.dark-text {
	color: #404040;
}
.white-text {
	color: #FFFFFF;
}

/*------------------ border bottoms ------------------------------------------*/

.white-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 50%;
	height: 2px;
	background: #F5F5F5;
	bottom: -9px;
	left: 25%;
}
.dark-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 50%;
	height: 2px;
	background: #404040;
	bottom: -9px;
	left: 25%;
}

.orange-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #ff9933;
	bottom: -9px;
	left: 12.5%;
}
.green-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #34d293;
	bottom: -9px;
	left: 12.5%;
}
.blue-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #3ab0e2;
	bottom: -9px;
	left: 12.5%;
}
.lightblue-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #336699;
	bottom: -9px;
	left: 12.5%;
}
.yellow-border-bottom:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #fc9a18;
	bottom: -9px;
	left: 12.5%;
}

/*------------------ form ----------------------------------------------------*/

.input-box {
	border: 0;
	width: 274px;
	text-align: left;
	text-transform: none;
	padding: 9px;
	min-height: 46px;
	padding-left: 15px;
	display: inline-block;
	border-radius: 4px;
	background: rgba(255,255,255, 0.95);
}
.textarea-box {
	border: 0;
	text-align: left;
	text-transform: none;
	padding: 9px;
	min-height: 250px;
	padding-left: 15px;
	display: inline-block;
	border-radius: 4px;
	background: rgba(255,255,255, 0.95);
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus {
    outline: 1 !important;
    outline-color: #e96656 !important;
    -webkit-appearance:none;
        border:none !important;
  -webkit-box-shadow:none !important;
          box-shadow:none !important;
        }

/*------------------ section headers -----------------------------------------*/

/*** section headers ***/

.focus,.industries,.about-us,.features,.pricing,.pricing,.testimonial,.contact-us {
	padding-top: 100px;
}
.section-header {
	text-align: center;
	padding-bottom: 75px;
}
.section-header h2 {
	padding-bottom: 10px;
	line-height: 40px;
	position: relative;
	display: inline-block;
}
.section-header h6 {
	font-size: 16px;
}

/*------------------ preloader -----------------------------------------------*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

/*------------------ section styles ------------------------------------------*/

/*------------------ section: home -------------------------------------------*/

.header {
	background: rgba(0, 0, 0, 0.5);
	min-height: 775px;
	position: relative;
	overflow: hidden;
}

/*------------------ section: home > top bar ---------------------------------*/

.navbar {
	background: #FFF;
	overflow: hidden;
	border: 0;
	border-radius: 0 !important;
	text-align: left;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
	        box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}
#main-nav {
	position: absolute;
	width: 100%;
	z-index: 1000;
	min-height: 75px;
}
#main-nav.fixed {
	position: fixed !important;
	top: 0;
}
.navbar-inverse .navbar-nav>li {
	display: inline;
	margin-right: 20px;
	margin-top: 20px;
}
.navbar-inverse .navbar-nav>li:last-child {
	margin-right: 0 !important;
}
.navbar-inverse .navbar-nav>li>a {
	color: #404040;
	padding: 0;
	line-height: 35px;
}
.navbar-brand {
	height: 76px;
	position: relative;
	line-height: 45px;
	padding-top: 12px;
}
.current a {
	color: #e96656 !important;
	position: relative;
	outline: none;
}
.current:before {
	position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 75%;
	height: 2px;
	background: #e96656;
	bottom: 0px;
	left: 12.5%;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #e96656;
	outline: none;
}
.navbar-toggle {
	border: 0;
	background-color: #808080;
        margin-top: 23px;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
	background-color: #e96656;
	filter: alpha(opacity=100);
	opacity: 1;
}

/*------------------ section: home > intro & short messages ------------------*/

.intro {
	text-align: center;
	color: #FFF;
	margin-top: 25%;
	line-height: 30px;
	z-index: 0;
}

.intro2 {
	text-align: center;
	color: #FFF;
	margin-top: 2%;
	line-height: 30px;
	z-index: 0;
}

.marketlogo {
        width: 60%;
	margin: auto;
	z-index: 0;
}

/*------------------ short messages ------------------------------------------*/

.bottom-message-section {
	margin-top: 14%;
	position: relative;
}
.short-text {
	margin: auto;
	text-align: center;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
}

/*------------------ section: features ---------------------------------------*/

.focus {
	padding-bottom: 100px;
	overflow: hidden;
	background: #FFFFFF;
}
/*------------------ focus box -----------------------------------------------*/

.focus-box {
	margin-bottom: 75px;
}
.focus-box .service-icon {
	margin-bottom: 30px;
	width: 145px;
	height: 145px;
	margin: auto;
	border-radius: 50%;
	border: 10px solid #ececec;
	margin-bottom: 20px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

/*------------------ on hover colored rounded circle around icons ------------*/

.orange,.green,.blue,.yellow {
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
.orange:hover .service-icon {
	border: 10px solid #ff9933;
}
.green:hover .service-icon {
	border: 10px solid #34d293;
}
.blue:hover .service-icon {
	border: 10px solid #3ab0e2;
}
.yellow:hover .service-icon {
	border: 10px solid #f7d861;
}

.focus-box h5 {
	margin-bottom: 15px;
	color: #404040;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 17px;
}
.focus-box p {
	font-size: 14px;
}

/*------------------ section: separator one ----------------------------------*/

.separator-one {
	background: rgba(33, 85, 150, 0.8);
	padding: 100px 0 100px 0;
}
.separator-one .orange-btn {
	background: #ff6600;
}
.separator-one .orange-btn:hover {
	background: #d65500;
}
.separator-one .text {
	color: #FFF;
	line-height: 34px;
	padding: 0;
	max-width: 800px;
	margin-bottom: 20px;
}

/*------------------ section: industries -------------------------------------*/

.industries {
	padding-bottom: 100px;
	background: #FFFFFF;
	min-height: 800px;
}

.industrylist {
	margin-top: 40px;
	background: #FFFFFF;
}

/*------------------ image grid ----------------------------------------------*/

.cbp-rfgrid {
	margin: auto;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%; /* fallback */
width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	-webkit-transition: 0.4s all linear;
	        transition: 0.4s all linear;
}
.cbp-rfgrid li a,.cbp-rfgrid li a img {
	display: block;
	max-width: 100%;
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	        transform: scale(1,1);
	-webkit-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;
	-webkit-transition-duration: 250ms;
	        transition-duration: 250ms;
	cursor: pointer;
	-webkit-transition: 0.4s all linear;
	        transition: 0.4s all linear;
}
.cbp-rfgrid li a:hover img {
	-webkit-transform: scale(1.05,1.07);
	-ms-transform: scale(1.05,1.07);
	        transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	        transition-duration: 250ms;
}

/*------------------ flexbox is used for centering the heading ---------------*/

.cbp-rfgrid li a .project-info {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(0,0,0,0.5);
	padding-top: 25%;
	text-align: center;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
}
.cbp-rfgrid li a .project-info .project-details {
	position: relative;
	top: -29px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	        transition: all ease .25s;
	width: 100%;
}
.cbp-rfgrid li a .project-info h5 {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.cbp-rfgrid li a:hover .project-info {
	filter: alpha(opacity=100);
	opacity: 1;
}
.cbp-rfgrid li a:hover .project-details {
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
}
.cbp-rfgrid li a:hover .button {
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: -50px;
}

/*------------------ media queries:  change number of items per row ---------*/

@media screen and (max-width: 1190px) {
	.cbp-rfgrid li {
	width: 25%; /* fallback */
width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
}
}
@media screen and (max-width: 1024px) {
	.cbp-rfgrid li {
	width: 33.33333333333333%; /* fallback */
width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
}
}
@media screen and (max-width: 768px) {
	.cbp-rfgrid li {
	width: 50%; /* Fallback */
width: -webkit-calc(100% / 2);
	width: calc(100% / 2);
}
}
@media screen and (max-width: 480px) {
	.cbp-rfgrid li {
	width: 100%;
}
}
@media screen and (max-width: 300px) {
	.cbp-rfgrid li {
	width: 100%;
}
}

/*------------------ project details preloader--------------------------------*/

#back-button {
	display: none;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 35px 13px 35px;
	border-radius: 4px;
	margin: 10px;
}
#back-button i {
	margin-right: 10px;
}
#loader {
	min-height: 930px;
	position: relative;
	display: none;
}
#loader .loader-icon {
	background: url(../images/loading.gif) no-repeat center center;
	background-color: #FFF;
	margin: -22px -22px;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: fixed;
	width: 44px;
	height: 44px;
	-webkit-background-size: 30px 30px;
	        background-size: 30px 30px;
	border-radius: 5px;
}

/*------------------ section: about us ---------------------------------------*/

.about-us {
	background: #272727;
	color: #FFF;
	padding-bottom: 100px;
}
.about-us .big-intro {
	text-align: right;
	font-weight: 300;
	font-size: 60px;
	line-height: normal;
	margin-top: -15px;
}
.about-us p {
	text-align: left;
	color: #939393;
}
.about-us .column {
	margin-bottom: 78px;
}

/*------------------ quick stats ---------------------------------------------*/

.stats {
	background: rgba(0, 0, 0, 0.5);
	padding: 100px 0 60px 0 !important;
	clear: both;
}
.stat {
	margin-bottom: 40px;
}
.stat .icon-top {
	font-size: 40px;
	height: 50px;
	line-height: 50px;
}
.stat .stat-text {
	display: inline-block;
	position: relative;
}
.stat h3 {
	margin-top: 20px;
	padding-bottom: 5px;
	position: relative;
	display: inline-block;
}
.stat h6 {
	color: #d1d1d1;
	margin-top: 15px;
}

/*------------------ section: features ---------------------------------------*/

.features {
	background: #FFFFFF;
	text-align: left;
	padding-bottom: 51px;
}
.features .feature {
	margin-bottom: 55px;
}
.features .feature-icon {
	font-size: 55px;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
        color: #ff6600;
}
.features .feature h5 {
	font-weight: bold;
	line-height: 28px;
	color: #404040;
}
.features .feature p {
	font-size: 14px;
}

/*------------------ section: pricing ----------------------------------------*/

.packages {
	padding-bottom: 50px;
	background: rgba(0, 0, 0, 0.5);
}
.package {
	border-radius: 4px;
	background: #FFFFFF;
	margin-top: 25px;
	margin-bottom: 50px;
	padding-bottom: 15px;
}
.package-header {
	height: 57px;
	color: #FFF;
	line-height: 57px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.package-header h5 {
	text-transform: uppercase;
	font-weight: bold;
}
.price {
	line-height: 120px;
	height: 100px;
	color: #FFF;
	font-weight: 400;
}
.price h4 {
	display: inline;
	font-size: 40px;
	line-height: normal;
	margin-bottom: 0;
}
.price h4 .dollar-sign {
	font-size: 17px;
	vertical-align: super;
}
.price .price-meta {
	line-height: normal;
	text-transform: uppercase;
	color: #9f9f9f;
}
.package ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	margin: auto;
	border-bottom: 1px dotted #dadada;
}
.package ul li:last-child {
	border-bottom: 0;
}
.best-value .package {
	margin-top: 0;
}
.best-value .package-header {
	padding-top: 17px;
	height: 82px !important;
}
.best-value .package-header h4 {
	font-weight: bold;
	line-height: 29px;
	text-transform: uppercase;
}
.best-value .package-header .meta-text {
	font-size: 13px;
	line-height: normal;
}
.best-value .package-header {
	height: 72px;
}
.package ul li i {
	font-size: 13px;
	margin-right: 5px;
}
.order {
	background: #d8ccba;
	color: #404040;
}
.package .order-now {
	line-height: 45px;
	max-width: 100%;
	display: block;
	background: #404040;
	color: #FFF;
	-webkit-transition: all 700ms;
	        transition: all 700ms;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.package .order-now:hover {
	background: #e96656;
}

/*------------------ section:  pricing  --------------------------------------*/

.pricing {
	background: url(../images/product-bg.png) 50% 0 repeat;
}
.pricing .color-overlay {
	background: rgba(50,205,50, 0.9);
	margin-top: -100px;
	padding-top: 100px;
	padding-bottom: 70px;
}

/*------------------ items images --------------------------------------------*/

.item-1 {
	background-image: url(../images/products/1.jpg);
}
.item-2 {
	background-image: url(../images/products/2.jpg);
}
.item-3 {
	background-image: url(../images/products/3.jpg);
}
.item-4 {
	background-image: url(../images/products/4.jpg);
}
.item-5 {
	background-image: url(../images/products/5.jpg);
}
.item-6 {
	background-image: url(../images/products/6.jpg);
}
.item-7 {
	background-image: url(../images/products/7.jpg);
}
.item-8 {
	background-image: url(../images/products/8.jpg);
}

/*------------------ item style ----------------------------------------------*/

.item {
	width: 100%;
	height: 260px;
	display: block;
	-webkit-background-size: 100%;
	        background-size: 100%;
	position: relative;
	margin: auto;
	margin-bottom: 30px;
	z-index: 5;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	border-radius: 4px;
}
.item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease-in-out;
	        transition: background-color 0.3s ease-in-out;
}
.item-content {
	position: absolute;
	width: 100%;
	bottom: 0;
	-webkit-transform: translate(0,100%);
	-ms-transform: translate(0,100%);
	        transform: translate(0,100%);
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item:hover .item-content {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	        transform: translate(0,0);
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item-top-content {
	position: relative;
}
.item-top-content-inner {
	position: absolute;
	bottom: 0;
	padding: 10px 15px 10px 15px;
	background: rgba(255,255,255,.95);
	width: 100%;
}
.item-add-content {
	padding: 0 15px 15px 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item:hover .item-add-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.item-add-content-inner {
	border: 0px solid #dadada;
	border-top-width: 1px;
	padding-top: 10px;
}
.item-top-title {
	text-align: left;
}
.item-top-title h5 {
	color: #404040;
	font-weight: 700;
}
/* item details */
.item-product {
	width: 70%;
	float: left;
}
.item-product-price {
	width: 30%;
	float: right;
	text-align: right;
}
.subdescription {
	font-size: 14px;
	font-weight: 400;
	color: #7d7d7d;
}

/*------------------ product price -------------------------------------------*/

.item-product-price {
	font-size: 1em;
	font-weight: 700;
	position: relative;
}
.item-product-price .subdescription {
	color: #808080;
}
.old-price {
	border: 0 solid #808080;
	border-bottom-width: 1px;
	margin-top: -11px;
	width: 30px;
	position: absolute;
	right: -2px;
	bottom: 10px;
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	        transform: rotate(-30deg);
}

/*------------------ item description ----------------------------------------*/

.item-content {
	background: rgba(255,255,255,.85);
}
.item-add-content {
	font-weight: 400;
	color: #808080;
}
.item-add-content .section {
	margin-bottom: 10px;
}
.item-add-content .section:last-of-type {
	margin-bottom: 0;
}
.item-add-content p {
	font-size: 14PX;
}

/*------------------ section: newsletter -------------------------------------*/

.newsletter {
	padding-top: 62px;
	padding-bottom: 62px;
	background: rgba(0, 0, 0, 0.5);
}
.newsletter h3 {
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 8px;
}
.newsletter .subscription {
	margin-top: 15px;
}
.newsletter .custom-button {
    margin-top: 7px;
}

/*------------------ section: testimonials -----------------------------------*/

.testimonial {
	background: rgb(22, 71, 127);
        opacity:0.9;   
	padding-bottom: 90px;
}
#client-feedbacks .feedback-box {
	background: #FFFFFF;
	padding: 25px;
	margin: 13px;
	text-align: left;
	border-radius: 4px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	display: block;
	z-index: 5;
}
.feedback-box .message {
	font-size: 15px;
	color: #909090;
}
.feedback-box .client {
	margin-top: 30px;
	height: 73px;
	position: relative;
}
.feedback-box .quote {
	float: left;
	font-size: 45px;
	line-height: 80px;
}
.feedback-box .client-info {
	float: left;
	margin-left: 18px;
	padding-top: 15px;
}
.feedback-box .client-info .client-name {
	font-family: 'Homemade Apple', serif;
	color: #404040;
}
.feedback-box .client-info .client-company {
	font-size: 13px;
	margin-top: -3px;
}
.feedback-box .client-image {
	float: right;
	width: 73px;
	height: 73px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #f6f6f6;
}
.customNavigation {
	text-align: center;
}
.owl-theme .owl-controls .owl-page span {
	background: #886e0e;
	border-radius: 50%;
}
.customNavigation a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*------------------ subscribe teaster ---------------------------------------*/

.subscribe-now {
	background: #ff6600;
        opacity: 0.8;
	padding-top: 70px;
	padding-bottom: 70px;
}
.subscribe-now h3 {
	text-align: left;
	line-height: 40px;
	margin-top: 14px;
}
.subscribe-now .orange-btn {
	float: right;
	background: #db5a4a;
}
.subscribe-now .orange-btn:hover {
	background: #bf3928;
}

/*------------------ section: contact us -------------------------------------*/

.contact-us {
	background: rgba(0, 0, 0, 0.5);
	padding-bottom: 95px;
}
.contact-us .input-box,textarea {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
}
.contact-us .custom-button {
	float: right;
}

.success,
.error {
    display: none;
}

/*------------------ section: footer -----------------------------------------*/

footer {
	background: #272727;
}
.company-details {
	color: #939393;
	padding-top: 67px;
	padding-bottom: 67px;
}
.company-details .icon-top {
	font-size: 30px;
	margin-bottom: 10px;
}
.copyright {
	padding-top: 60px;
	padding-bottom: 68px;
	background: #171717;
}
.social li {
	display: inline-block;
	margin: 5px;
}
.social li a {
	color: #939393;
	font-size: 18px;
}
.social li a:hover {
	color: #e96656;
}

/*------------------ single project page -------------------------------------*/

.single-project {
	text-align: left;
	margin-bottom: 25px;
}
.single-project .project-image {
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 25px;
}
.single-project h3 {
	margin-bottom: 10px;
	padding-bottom: 7px;
	line-height: 40px;
	border-bottom: 1px dotted #dadada;
}
.single-project .project-description {
	margin-bottom: 25px;
}
.single-project .button {
	margin-left: 0;
}
.single-project .project-information {
	margin-bottom: 10px;
}
.single-project .project-information ul li {
	border-bottom: 1px dotted #dadada;
	padding-bottom: 5px;
	margin-top: 10px;
}
.single-project .project-information ul li span {
	font-weight: 700;
	margin-right: 5px;
}

/*------------------ background image bug fix with smaller displays ----------*/

img.vegas-background {
    top:0px !important;
}
